{% extends './login_base.html' %}

{% block seller_login_page_title %}
<title>Forget Your Password - NPI</title>
{% endblock seller_login_page_title %}


{% block login_base_content %}
<div class="login-right" style="width: 100%;">
    <div class="login-right-wrap">
        <h1>Reset Password</h1>
        <p class="account-subtitle">Let Us Help You</p>

        <form action="">
            <div class="form-group">
                <label>Enter your registered email address <span class="login-danger">*</span></label>
                <input class="form-control" type="text">
                <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Reset My Password</button>
            </div>
            <div class="form-group mb-0">
                <a class="btn btn-primary primary-reset btn-block" href="{% url 'login' %}">Login</a>
            </div>
        </form>

    </div>
</div>
{% endblock login_base_content %}