{% extends './login_base.html' %}

{% block seller_login_page_title %}
<title>Forget Your Password - NPI</title>
{% endblock seller_login_page_title %}


{% block login_base_content %}
<div class="login-right" style="width: 100%;">
    <div class="login-right-wrap">


        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
        {% endif %}




        <h1>Reset Password</h1>
        <p class="account-subtitle">Let Us Help You</p>

        <form action="{% url 'forget_password_reset' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Enter your registered email address <span class="login-danger">*</span></label>
                <input class="form-control" type="email" name="email" value="{{email}}">
                <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
                <label>Enter your OTP <span class="login-danger">*</span></label>
                <input class="form-control" type="text" name="otp">
                <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
                <label>Enter your New Password <span class="login-danger">*</span></label>
                <input class="form-control" type="password" name="password">
                <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Reset My Password</button>
            </div>
            <div class="form-group mb-0">
                <a class="btn btn-primary primary-reset btn-block" href="{% url 'login' %}">Login</a>
            </div>
        </form>

    </div>
</div>
{% endblock login_base_content %}