{% extends '../base/base.html' %}
{% load static %}

{% block title %}
NPI - National Polytechnic Institute
{% endblock title %}

{% block body_content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    
                    

                    
                    <h3 class="page-title">Welcome {{request.user.username|title}}!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Students</h6>
                            <h3>{{Student.count}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/dash-icon-01.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Teacher</h6>
                            <h3>{{Teacher.count}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/dash-icon-01.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Department</h6>
                            <h3>{{department.count}}+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/dash-icon-03.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Revenue</h6>
                            <h3>{{total_revenue}} BDT</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/dash-icon-04.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill fb sm-box">
                <div class="social-likes">
                    <p>Like us on facebook</p>
                    <h6>0</h6>
                </div>
                <div class="social-boxs">
                    <img src="{% static 'img/icons/social-icon-01.svg' %}" alt="Social Icon">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill twitter sm-box">
                <div class="social-likes">
                    <p>Follow us on twitter</p>
                    <h6>0</h6>
                </div>
                <div class="social-boxs">
                    <img src="{% static 'img/icons/social-icon-02.svg' %}" alt="Social Icon">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill insta sm-box">
                <div class="social-likes">
                    <p>Follow us on instagram</p>
                    <h6>0</h6>
                </div>
                <div class="social-boxs">
                    <img src="{% static 'img/icons/social-icon-03.svg' %}" alt="Social Icon">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill linkedin sm-box">
                <div class="social-likes">
                    <p>Follow us on linkedin</p>
                    <h6>0</h6>
                </div>
                <div class="social-boxs">
                    <img src="{% static 'img/icons/social-icon-04.svg' %}" alt="Social Icon">
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock body_content %}