{% extends '../base/base.html' %}
{% load static %}

{% block title %}
NPI Teacher - National Polytechnic Institute
{% endblock title %}

{% block body_content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    
                    <h3 class="page-title">Welcome {{Teacher.first_name}} {{Teacher.last_name}}!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Teacher</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Total Student</h6>
                            <h3>{{students.count}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/teacher-icon-01.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>{{Teacher.department}} Students</h6>
                            <h3>{{depart_students.count}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/dash-icon-01.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Department Teacher</h6>
                            <h3>{{depart_teacher.count}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/teacher-icon-02.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <!-- <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Total Hours</h6>
                            <h3>15/20</h3>
                        </div>
                        <div class="db-icon">
                            <img src="{% static 'img/icons/teacher-icon-03.svg' %}" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</div>
{% endblock body_content %}