{% load static %}
{% load notifications_tags %}

<div class="header">

    <div class="header-left">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'img/npi.png' %}" alt="Logo">
        </a>
        <a href="{% url 'home' %}" class="logo logo-small">
            <img src="{% static 'img/npi.png' %}" alt="Logo" width="30" height="30">
        </a>
    </div>
    <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <div class="top-nav-search">
        <form>
            <input type="text" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>

    <ul class="nav user-menu">
        <!-- <li class="nav-item dropdown noti-dropdown language-drop me-2">
            <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                <img src="{% static 'img/icons/header-icon-01.svg' %}" alt="">
            </a>
            <div class="dropdown-menu ">
                <div class="noti-content">
                    <div>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
                    </div>
                </div>
            </div>
        </li> -->



        <!-- --------------Notifications Section Start---------- -->
        <li class="nav-item dropdown noti-dropdown me-2">
            <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                <img src="{% static 'img/icons/header-icon-05.svg' %}" alt=""> 
                {% notifications_unread as unread_count %}
                {% if unread_count %}
                {% register_notify_callbacks callbacks='fill_notification_list, fill_notification_badge, my_special_notification_callback' %}

                <sup><b><h6>{% live_notify_badge badge_class="badge" %}</h6></b></sup>
                {% endif %}
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                    <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        <!-- {% live_notify_list list_class="dropdown-menu" %} -->
                        {% if user.notifications.unread %}

                        {% for i in user.notifications.unread %}
                        <li class="notification-message">
                            <a>
                                <div class="media d-flex">
                                    <span class="avatar avatar-sm flex-shrink-0">
                                        {% if request.user.is_teacher == True %}
                                            {% if Teacher.teacher_image %}
                                            <img class="avatar-img rounded-circle" alt="User Image" src="{{Teacher.teacher_image.url}}">
                                            {% else %}
                                            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            
                                        {% elif request.user.is_student == True %}
                                            {% if Student.student_image %}
                                            <img class="avatar-img rounded-circle" alt="User Image" src="{{Student.student_image.url}}">
                                            {% else %}
                                            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                            {% endif %}

                                        {% else %}
                                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                        {% endif %}
                                    </span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details">
                                            <span class="noti-title">
                                            {{i|safe}}
                                        </span>
                                        </p>
                                    </div>
                                    
                                </div>
                            </a>
                        </li>
                        {% endfor %}

                        <!-- <li class="notification-message">
                            <a href="#">
                                <div class="media d-flex">
                                    <span class="avatar avatar-sm flex-shrink-0">
                                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                    </span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">Carlson Tech</span> has
                                            approved <span class="noti-title">your estimate</span></p>
                                        <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                        </p>
                                    </div>
                                    
                                </div>
                            </a>
                        </li> -->
                       

                        {% else %}
                        <li class="notification-message">
                            <p style="text-align: center;"><b>No Notifications</b></p>
                        </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a>View all Notifications</a>
                </div>
            </div>
        </li>
        <!-- --------------Notifications Section End---------- -->




        <li class="nav-item zoom-screen me-2">
            <a href="#" class="nav-link header-nav-list win-maximize">
                <img src="{% static 'img/icons/header-icon-04.svg' %}" alt="">
            </a>
        </li>

        <li class="nav-item dropdown has-arrow new-user-menus">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">

                {% if request.user.is_teacher == True %}

                <span class="user-img">
                    {% if Teacher.teacher_image %}
                    <img class="rounded-circle" src="{{Teacher.teacher_image.url}}" width="31" alt="Soeng Souy">
                    {% else %}
                    <img class="rounded-circle" src="{% static 'img/profiles/avatar-01.jpg' %}" width="31" alt="Soeng Souy">
                    {% endif %}
                    <div class="user-text">

                        <h6>{{Teacher.first_name}} {{Teacher.last_name}}</h6>
                        <p class="text-muted mb-0">Teacher</p>

                    </div>
                </span>

                {% elif request.user.is_student == True %}

                <span class="user-img">
                    {% if Student.student_image %}
                    <img class="rounded-circle" src="{{Student.student_image.url}}" width="31" alt="Soeng Souy">
                    {% else %}
                    <img class="rounded-circle" src="{% static 'img/profiles/avatar-01.jpg' %}" width="31" alt="Soeng Souy">
                    {% endif %}
                    
                    <div class="user-text">
                        
                        <h6>{{Student.first_name}} {{Student.last_name}}</h6>
                        <p class="text-muted mb-0">Student</p>

                    </div>
                </span>

                {% else %}

                <span class="user-img">
                    <img class="rounded-circle" src="{% static 'img/profiles/avatar-01.jpg' %}" width="31" alt="Soeng Souy">
                    <div class="user-text">

                        <h6>{{request.user.username|title}}</h6>
                        <p class="text-muted mb-0">Admin</p>

                    </div>
                </span>

                {% endif %}

            </a>
            <div class="dropdown-menu">

                {% if request.user.is_teacher == True %}

                <div class="user-header">
                    <div class="avatar avatar-sm">
                        {% if Teacher.teacher_image %}
                        <img src="{{Teacher.teacher_image.url}}" alt="User Image" class="avatar-img rounded-circle">
                        {% else %}
                        <img src="{% static 'img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
                        {% endif %}
                        
                    </div>
                    <div class="user-text">

                        <h6>{{Teacher.first_name}} {{Teacher.last_name}}</h6>
                        <p class="text-muted mb-0">Teacher</p>
  
                    </div>
                </div>

                {% elif request.user.is_student == True %}

                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="{% static 'img/profiles/avatar-01.jpg' %}" alt="User Image"
                            class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">

                        <h6>{{Student.first_name}} {{Student.last_name}}</h6>
                        <p class="text-muted mb-0">Student</p>
 
                    </div>
                </div>

                {% else %}

                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="{% static 'img/profiles/avatar-01.jpg' %}" alt="User Image"
                            class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">

                        <h6>{{request.user.username|title}}</h6>
                        <p class="text-muted mb-0">Admin</p>
                        
                    </div>
                </div>

                {% endif %}

                {% if request.user.is_student == True %}
                <a class="dropdown-item" href="{% url 'student_details' request.user.id %}">My Profile</a>
                {% else %}
                <a class="dropdown-item" href="">My Profile</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>

    </ul>

</div>