{% extends '../base/base.html' %}
{% load static %}

{% block title %}
Student Fees - National Polytechnic Institute
{% endblock title %}

{% block body_content %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Fees</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="fees-collections.html">Accounts</a></li>
                    <li class="breadcrumb-item active">Add Fees</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Fees Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Student Roll <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" name="student_roll">
                                    {% if messages %}
                                    {% for messages in messages %}
                                    <p style="color: red;"><i>{{messages}}</i></p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_content %}